* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 650px;
  margin: 7% auto;
  border-radius: 5px;
}
.displayScreen {
  width: 100%;
  height: 200px;
  /* border: 4px solid rgb(41, 41, 56); */
  background: black;
  color: white;
}
.display {
  /* border: 4px solid rgb(41, 41, 56); */
  color: grey;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3rem;
  padding: 10px;
}
.screen {
  /* border: 4px solid rgb(41, 41, 56); */
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 4.5rem;
  padding: 10px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
button {
  width: 25%;
  font-size: 2.2rem;
  font-weight: 500;
  background: darkgray;
  border: none;
}
.actions {
  background-color: orange;
  color: white;
  font-size: 2.7rem;
}
.equal {
  background-color: green;
  color: white;
  font-size: 2.5rem;
}
.delete {
  background-color: red;
  font-size: 2.5rem;
}
button:hover {
  background-color: lightgrey;
}
.actions:hover {
  background-color: darkorange;
}
.equal:hover {
  background: darkgreen;
}
.delete:hover {
  background-color: darkred;
}
.deleteAll {
  background: yellow;
  border: none;
}
.deleteAll:hover {
  background: rgb(223, 223, 84);
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }
}
